@model List<UserLogin>
<h1>Users</h1>
<p>
    <a asp-controller="User"
       asp-action="Create"
       class="btn btn-success">
        Crear
    </a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>IdUser</th>
            <th>UserMail</th>
            <th>UserName</th>
            <th>CreationDate</th>
            <th>LastModificationDate</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>


                <td> @Html.DisplayFor(m => user.IdUser)</td>

                <td> @Html.DisplayFor(m => user.UserMail)</td>

                <td> @Html.DisplayFor(m => user.UserName)</td>

                <td> @Html.DisplayFor(m => user.CreationDate)</td>

                <td> @(user.LastModDate == null ? "Sin modificación" : Html.DisplayFor(m => user.LastModDate)) </td>

                <td> @(user.IdRol == null ? "Sin modificación" : Html.DisplayFor(m => user.IdRolNavigation.RolName))</td>

                <td>
                    <a asp-controller="User"
                       asp-action="Edit"
                       asp-route-id="@user.IdUser"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="User"
                       asp-action="Delete"
                       asp-route-id="@user.IdUser"
                       onclick="return confirmar()"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function confirmar() {
            return confirm("¿Esta seguro de eliminar el usuario?")
        }
    </script>
}
