@model InventorySystem.Data.Pagination<Product>
<h1>Products</h1>
<p>
</p>
<form method="get" asp-action="Index">
    <div class="d-flex align-items-end flex-wrap mb-2">
        <!-- Campo de búsqueda por nombre -->
        <div class="me-2">
            <div class="form-group">
                <label for="searchName">Product Name</label>
                <input type="text" name="searchName" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by product name...">
            </div>
        </div>
        <!-- Categoría -->
        <div class="me-2">
            <div class="form-group">
                <label for="categoryId">Category</label>
                <select name="categoryId" class="form-control" asp-items="ViewBag.Category" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <option value="">-- Select --</option>
                </select>
            </div>
        </div>
        <!-- Ubicación -->
        <div class="me-2">
            <div class="form-group">
                <label for="locationId">Location</label>
                <select name="locationId" class="form-control" asp-items="ViewBag.Location" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <option value="">-- Select --</option>
                </select>
            </div>
        </div>
        <!-- Botones -->
        <div class="me-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

        <div class="me-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <a asp-action="Index" class="btn btn-primary form-control">Complete List</a>
            </div>
        </div>
        <!-- Forzar salto de línea -->
        <div class="w-100"></div>
        @if ((bool)ViewData["Is64Bit"])
        {
            <div class="me-2">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <a asp-action="GeneratePdf" class="btn btn-success">Export to PDF</a>
                </div>
            </div>
        }
        <div class="ms-auto">
            <div class="form-group">
                <label>&nbsp;</label>
                <a asp-controller="Product" asp-action="Create" class="btn btn-success form-control">
                    Create Product
                </a>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hover border-dark">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>State</th>
                <th>Location</th>
                <th>Image</th>
                <th>CreationDate</th>
                <th>LastModDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(m => product.ProductName)</td>

                    <td> @Html.DisplayFor(m => product.Category.CategoryName)</td>

                    <td> @Html.DisplayFor(m => product.Description)</td>

                    <td> @Html.DisplayFor(m => product.Quantity)</td>

                    <td> @Html.DisplayFor(m => product.State)</td>

                    <td> @Html.DisplayFor(m => product.Location.LocationName)</td>

                    <td>
                        @if (!string.IsNullOrEmpty(product.ImageRoot))
                        {
                            <img src="@product.ImageRoot" alt="Product Image" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>

                    <td> @Html.DisplayFor(m => product.CreationDate)</td>

                    <td> @Html.DisplayFor(m => product.LastModDate)</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.IdProd" class="btn btn-primary">
                                Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.IdProd" onclick="return confirmar()" class="btn btn-danger">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <!-- Paginacion -->
    @await Html.PartialAsync("_Pagination", Model)

    @section Scripts{
        <script>
            function confirmar() {
                return confirm("Are you sure to delete the product ?")
            }
        </script>
    }
